


<table class="table table-stripped" *ngIf="employees.length > 0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.fullName}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.salary}}</td>
        </tr>
    </tbody>

</table>

<div *ngIf="employees.length <= 0" style="display: flex; justify-content: center; margin-top: 20px;">
    <h4>No payment requests at the moment</h4>
    </div>

<div style="display: flex; justify-content: center;" >
    <button  *ngIf="employees.length > 0" (click)="processPayments(employees)">Process Payments</button>
</div>
<div *ngIf="loading" class="spinner-container text-center">
    <div class="spinner-border text-primary loader" role="status">
        <span class="sr-only"></span>
        <span class="sr-only"></span>
    </div>