<div class="container mt-5">
    <h2>Transfer to beneficiary</h2>
 
    <div class="form-group">
        <br><br>
      <label for="repaymentAmount">Enter Amount:</label><br>
      <div style="display: flex; justify-content: center;">
          <input   type="number" id="Amount" class="form-control" [(ngModel)]="Amount" style="width: 1000px;">
        </div>
    </div>
 
   <div style="display: flex; justify-content: center;">
       <div id="paypal-button-container" class="mt-3" ></div>
    </div>
 
   
  </div>
 
 